<div class="card">
  <div class="photo"></div>
    <div class="card-banner" style="background-image: url('https://source.unsplash.com/QTgOjDCiJEo');"></div>
      <ul>
        <li>Type of wine<span id="dot"> · </span>Region</li>
        <li>Card Title</li>
        <li>Price</li>
      </ul>
</div>


