<div class="footer">
  <div class="description">
    <a href="#"><p>what we do</p></a>
    <a href="#"><p>our work</p></a>
    <a href="#"><p>company</p></a>
    <a href="#"><p>contact</p></a>
  </div>
    <div class="footer-links">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  <div class="underline-footer"></div>
  <div class="adresse-footer">16 Villa Gaudelet, 75011, Paris, France</div>
  <div class="email-footer">aurelie@cuvee-privee.fr</div>
</div>
