<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo_cp.png", class: "navbar-logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Proposer des Vignes</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Inscription</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Connexion</a>
  </div>

</div>

