<div class="vp-container">
  <p class="vp-main-title">J’adopte des pieds de vignes… et je reçois un vin délicieux.</p>
  <div class="vp-card">
    <p class="vp-card-title">Title</p>
    <p class="vp-card-description">Our product is the most amazing you will ever taste in your whole life. Don't you ever doubt that ok.</p>
  </div>
    <div class="vp-card">
    <p class="vp-card-title">Title</p>
    <p class="vp-card-description">Our product is the most amazing you will ever taste in your whole life. Don't you ever doubt that ok.</p>
  </div>
  <div class="vp-card">
    <p class="vp-card-title">Title</p>
    <p class="vp-card-description">Our product is the most amazing you will ever taste in your whole life. Don't you ever doubt that ok.</p>
  </div>
</div>
