.btn-primary, .btn-primary:focus {
  background-color: rgb(154,6,72);
  border: 2px solid rgb(154,6,72);
  margin: 1px;
  font-size: 15px;
  font-weight: 600;
  font-family: $headers-font;
  width: 200px;
}

.btn.btn-primary {
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: rgb(123,4,57);
  border: 2px solid rgb(123,4,57);
  margin: 1px;
}

.btn-primary:active {
  background-color: rgb(123,4,57) !important;
  border: 2px solid rgb(123,4,57) !important;
  margin: 1px !important;
}

.btn-width {
  width: 100%;
}




