/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo {
  height: 24px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: $headers-font;
  font-weight: 700;
}

.navbar-wagon-right-signed-in {
  font-family: $headers-font;
  font-weight: 700;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 15px;
}

/* Navbar link */
.navbar-wagon-link {
  color: rgba(151,7,71,1);
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: rgba(105,4,49,1);
  text-decoration: none;
}

.avatar-navbar {
  border-radius: 50%;
  height: 35px;
}
